html
    head 
        title URL_Shortnener
        h1 This is URL shortener
        img(src=img_source)
        meta(property="og:description" content=og["og:description"][0])
        meta(property="og:description" content=og["og:description"][1])
        meta(property="og:image" content=og["og:image"][0])
        meta(property="og:image" content=og["og:image"][1])
        meta(property="og:locale" content=og["og:locale"][0])
        meta(property="og:url" content=og["og:url"][0])
        meta(property="og:site_name" content=og["og:site_name"][0])
        meta(property="og:type" content=og["og:type"][0])
        meta(property="og:title" content=og["og:title"][0])
        meta(property="og:title" content=og["og:title"][1])
        meta(http-equiv="Refresh" content=redirect_content)
        

        